.searchcard-title-icon img {
  object-fit: cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-top: 0.6rem;
  margin-right: 0.8rem;
  margin-bottom: 0.6rem;
}

.filter-wrapper {
  height: 100%;
  overflow-y: scroll;
  background-color: rgba(155, 199, 239, 0.75) !important;
  border-radius: 16px !important;
}

.search-rows {
  margin-top: 8px;
  margin-bottom: 8px;
}

input {
  font-family: "Nunito", sans-serif !important;
  font-weight: 400 !important;
  font-size: 100% !important;
}

.checkbox-label {
  margin-right: 8px !important;
}

/* SEARCH HEADER*/
.search-result .result-header {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.search-body .search-result .result-header .records {
  color: #3c4142;
}

.search-body .search-result .result-header .result-actions {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-body .search-result .result-header .result-actions .result-sorting {
  display: flex;
  align-items: center;
}

.search-body
  .search-result
  .result-header
  .result-actions
  .result-sorting
  span {
  flex-shrink: 0;
  font-size: 0.8125rem;
}

.search-body
  .search-result
  .result-header
  .result-actions
  .result-sorting
  select {
  color: #68cbd7;
}

.search-body
  .search-result
  .result-header
  .result-actions
  .result-sorting
  select
  option {
  color: #3c4142;
}

/* SEARCH TABLE*/

.widget-search-table {
  color: #3c4142;
  font-weight: 400;
}

.widget-search-table td {
  vertical-align: middle;
}

.widget-search-table tr:first-child td {
  border-top: 0;
}

.widget-search-table-icon-img img {
  object-fit: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.widget-search-table .widget-search-table-title {
  min-width: 200px;
}

.widget-search-table .widget-search-table-title:hover {
  color: #68cbd7;
}

.widget-search-table .widget-search-table-title .widget-search-table-subtitle {
  margin: 0;
  font-weight: 400;
  color: #3c4142;
  font-size: 0.8125rem;
  color: #3c4142;
}

.widget-search-table .widget-search-table-info {
  min-width: 100px;
  font-weight: 400;
}

.widget-search-table .widget-search-table-info .location {
  color: #3c4142;
}

.widget-search-table .widget-search-table-info p {
  color: #3c4142;
  font-size: 0.8125rem;
  line-height: 0.6;
}

.widget-search-table .widget-search-table-keywords {
  padding: 0.5rem;
  /* display: inline-flex; */
  white-space: nowrap;
  border-radius: 15px;
}

.widget-search-table .widget-search-table-keywords .indicator {
  width: 13px;
  height: 13px;
  margin-right: 0.5rem;
  float: left;
  border-radius: 50%;
}

.widget-search-table .widget-search-table-keywords span {
  font-size: 0.8125rem;
  color: #3c4142;
  font-weight: 600;
}

.bg-soft-base {
  background-color: #e1f5f7;
}

.bg-soft-warning {
  background-color: #fff4e1;
}

.bg-soft-success {
  background-color: #d1f6f2;
}

.bg-soft-danger {
  background-color: #fedce0;
}

.bg-soft-info {
  background-color: #d7efff;
}

.search-form {
  width: 80%;
  margin: 0 auto;
  margin-top: 1rem;
}

.search-form input {
  height: 100%;
  background: transparent;
  border: 0;
  display: block;
  width: 100%;
  padding: 1rem;
  height: 100%;
  font-size: 1rem;
}

.search-form select {
  background: transparent;
  border: 0;
  padding: 1rem;
  height: 100%;
  font-size: 1rem;
}

.search-form select:focus {
  border: 0;
}

.search-form button {
  height: 100%;
  width: 100%;
  font-size: 1rem;
}

.search-form button svg {
  width: 24px;
  height: 24px;
}

.search-filters .filter-list {
  margin-bottom: 1.3rem;
}

.search-filters .filter-list .title {
  color: #3c4142;
  margin-bottom: 1rem;
}

.search-body .search-filters .filter-list .filter-text {
  color: #727686;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .search-body .search-filters {
    display: flex;
  }
  .search-body .search-filters .filter-list {
    margin-right: 1rem;
  }
}

.card-margin {
  margin-bottom: 1.875rem;
}

@media (min-width: 992px) {
  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
}

.card-margin {
  margin-bottom: 1.875rem;
}

.card {
  border: 0;
  box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #ffffff;
  background-clip: border-box;
  border: 1px solid #e6e4e9;
  border-radius: 8px;
}

/* SEARCH CARD */
.search-card:hover {
  cursor: pointer;
}

.search-card-title {
  text-transform: capitalize;
}

.badge-format.bg-primary {
  margin-right: 4px;
  vertical-align: top !important;
  background-color: #1264f1 !important;
}

.badge-format.bg-primary:hover {
  opacity: 0.85;
}

.model-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.search-grid {
  background-color: #f7f7f7 !important;
}

.search-grid-card-footer {
  background-color: white !important;
  border-top: 0px !important;
}

.card-search-highlight {
  background: #c7e7ff;
}
