/* Importing fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f7f7 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
strong {
  font-family: "Nunito", sans-serif;
  font-weight: 800 !important;
  text-align: center;
}

h3,
h4 {
  font-family: "Nunito", sans-serif;
}

h1 {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}

.main-title {
  font-size: 80px;
}

.search-title {
  text-align: left;
}

.mission {
  font-size: 200%;
}

.model-height {
  height: 75vh;
}

.card {
  box-shadow: none;
  border: 0px !important;
}

.clickable-card:hover {
  box-shadow: 0px 0px 15px 2px rgb(82 63 105 / 10%);
}

.cards-display {
  overflow-y: scroll;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.cards-display::-webkit-scrollbar {
  display: none;
}

/* separate cards correctly */
.model-cards-row:not(:first-child):not(:last-child) {
  padding-top: calc(var(--bs-gutter-x) * 0.5);
  padding-bottom: calc(var(--bs-gutter-x) * 0.5);
}

.model-cards-row:first-child {
  /* fixes fencepost problem */
  padding-bottom: calc(var(--bs-gutter-x) * 0.5);
}

.model-cards-row:last-child {
  /* fixes fencepost problem */
  padding-top: calc(var(--bs-gutter-x) * 0.5);
}

/* ABOUT PAGE STYLES */
.repo-stat-card {
  text-align: center;
}

.repo-stat-titles {
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  font-size: 105% !important;
  opacity: 0.65;
}

.repo-stat-count {
  font-size: 250%;
  font-weight: bolder;
}

.gitlab-members-row {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
  -webkit-margin-top-collapse: collapse;
  -webkit-margin-bottom-collapse: collapse;
}

.tech-rows {
  margin-bottom: calc(var(--bs-gutter-x)) !important;
}

/* STYLING INSTANCE PAGES */
.half-height {
  max-height: 50vh;
  overflow: scroll;
}

.card-scroll-overflow {
  height: 50vh;
  overflow: scroll;
}

.instance-details-center {
  text-align: center;
}

.instance-h3 {
  font-weight: 700 !important;
  margin-top: 24px;
  margin-bottom: 0px;
  font-size: 22px;
}

.instance-h4 {
  font-weight: 700 !important;
  margin-top: 12px;
  margin-bottom: 0px;
  font-size: 18px;
}

.instance-description {
  margin-top: 24px;
}

.instance-apply-button {
  position: absolute;
  bottom: 16px;
  left: 16px;
  right: 16px;
  background-color: #1264f1 !important;
}

.instance-apply-button:hover {
  opacity: 0.85;
}

.instance-apply-button:focus {
  background-color: #1264f1 !important;
}

.benefits-column {
  overflow-wrap: break-word;
  word-break: break-all;
}

.benefits-group {
  display: inline-block;
  margin-right: 4px;
  text-transform: capitalize;
}

img.benefits-group {
  height: 2em;
}

.instance-page-title {
  text-transform: capitalize;
}

.instance-page-center {
  margin-top: auto !important;
  margin-bottom: auto !important;
  vertical-align: middle !important;
}

.card-links {
  color: black;
  text-decoration: none;
}

.card-links:hover {
  color: #0d6efd;
}

.capitalize {
  text-transform: capitalize;
}

.carousel-img {
  object-fit: cover;
  height: 400px;
  width: 1000px;
}

.city-pic img {
  object-fit: cover;
  height: 60px;
}
