@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900&display=swap");

.navbar {
  background-color: #1264f1;
}

.navbar-brand {
  font-family: "Nunito", sans-serif;
  font-weight: 600 !important;
  font-size: 175% !important;
}

.nav-link {
  font-family: "Nunito", sans-serif;
  font-weight: 300 !important;
  text-transform: uppercase;
}
