@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900&display=swap");

.card {
  height: 100%;
}

.card-title {
  font-family: "Nunito", sans-serif;
  font-weight: 700 !important;
  font-size: 150% !important;
}

.card-subtitle {
  font-family: "Nunito", sans-serif;
  font-weight: 400 !important;
  font-size: 85% !important;
  text-transform: uppercase;
}

/* For Model Card */
.text-card:hover {
  background-color: rgba(242, 242, 242, 0.75) !important;
}

.text-card-info {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

/* For GitLab Card */
.developer {
  height: 100%;
}

.gitlab-stats {
  font-size: 12px;
}

.tools-img {
  margin: auto;
  padding: 16px;
}

.no-link-decoration {
  color: black;
  text-decoration: none;
}

/* For Collapse Card */
.collapse-card-header {
  background-color: white !important;
}

.collapse-card-body {
  background-color: #f7f7f7 !important;
}

.collapse-button {
  border: 0px;
  background-color: rgba(0, 0, 0, 0);
}

.collapse-icon-margin {
  margin: auto 0px auto 0px !important;
}
