.search-bar {
  font-family: var(--bs-body-font-family) !important;
}

.search-bar-body {
  border: 0;
  box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
}

.search-bar-body {
  min-width: 0;
  word-wrap: break-word;
  background-color: #ffffff;
  background-clip: border-box;
  border: 1px solid #e6e4e9;
  border-radius: 15px;
}

.search-bar-body {
  font-weight: 400;
  font-size: 1.2rem;
  color: #3c4142;
  line-height: 1.5;
  text-decoration: none;
}

.filter-form button {
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.5;
  text-decoration: none;

  border: 1px solid #ced4da !important;
  background-color: white !important;
  color: #0d6efd;
  font-family: var(--bs-body-font-family) !important;
}

.filter-form button:hover {
  background-color: #0d6efd !important;
}

.filter-margin {
  margin: 0.5rem;
}

.dropdown-toggle:focus {
  background-color: #0d6efd !important;
}

/* STYLES FOR FORM INSIDE FILTER */
.filter-apply {
  background-color: #1264f1 !important;
  border: 0px !important;
}

.filter-cancel {
  border: 0px !important;
}

.filter-cancel:hover {
  background-color: rgba(0, 0, 0, 0.15) !important;
}

.filter-apply:hover {
  opacity: 0.85;
}

.filter-group:not(:first-child) {
  margin-top: 16px;
}

.filter-group:not(:last-child) {
  margin-bottom: 16px;
}

.filter-group-title {
  font-weight: bold;
}

.span-container-filter {
  width: 100%;
}

.checkbox-label {
  margin-left: 4px;
}

.dropdown-menu {
  max-height: 250px;
  overflow-y: scroll;
}
