@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900&display=swap");

.page-footer {
  padding-top: 0.5rem !important;
  opacity: 0.65;
}

.page-footer a {
  text-decoration: none;
  color: black;
}
